body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

tbody.drag tr {
  position: relative;
  &.placeholder {
    position: relative;
  }

  td {
    span {
      cursor: move;
    }
  }

}



tbody.drag tr.placeholder:before {
  content: '';
  position: absolute;
  margin: -5px 0 0 -10px;
  border-top: 5px solid transparent;
  border-left: 10px solid red;
  border-bottom: 5px solid transparent;
}

ul.drag li.placeholder {
  position: relative;
  background: #ccc;
  padding: 10px 0px;
  /** More li styles **/
}
ul.drag li.placeholder:before {
  position: absolute;
  content: '';
  left: -5px;
  position: absolute;
  margin: -5px 0 0 -10px;
  border-top: 5px solid transparent;
  border-left: 10px solid red;
  border-bottom: 5px solid transparent;
}

.drag {
  list-style: none;
  padding: 0px;
  margin: 25px 0 0 0px;

  &.active {
    border: 5px solid red;
  }

  div.item{
    display: flex;
    border: 1px solid #ccc;
    >div {
      border-left: 1px solid #ccc;
      padding: 10px;
      &:first-child{
        border-left: 0px;
      }
    }
    .id, .arrow {
      flex: 0 0 30px;
    }

    .title {
      flex: 0 0 400px;
      span {
        margin-right: 10px;
        display: inline-block;
      }
    }

    .menu-cat {
      flex: 1 0;
    }

    .status-item {
      flex: 0 0 150px;
      text-align: center;
    }

    .action-item {
      flex: 0 0 100px;

      text-align: center;
    }


  }

  >li {
    >div.item {
      .title {
        flex: 0 0 460px;
        //background: red;
      }
      //padding-left: 40px;
    }
    >ol {
      &.active {
        border: 3px solid red;
      }

      list-style: none;
      margin: 0px;
      padding: 0px;
      margin-left: 40px;

      >li {
        >ul{

          &.active {
            border: 3px solid red;
          }

          list-style: none;
          padding: 0px;
          margin: 0px;
          >li{
            >div.item {
              .title {
                padding-left: 80px;
              }

            }
          }
        }
        >div.item {
          .title {
            flex: 0 0 420px;
          }

        }
      }
    }
  }
}


.nav {
  &.horizontal-menu{
    ul {
       list-style: none;
       display: inline-block;
       padding: 0px;
       margin: 0px;

       li {
         display: inline-block;
         padding: 0px;
         margin: 0px 5px;
         a {
           background:#eaeaea;
           padding: 10px;
           display: inline-block;
           &:hover {
             background: aliceblue;
           }
         }
       }
     }
  }

  &.vertical-menu {
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;

      li {
        padding: 0px;
        margin: 5px;
        a {
          background:#eaeaea;
          padding: 10px;
          display: inline-block;
          &:hover {
            background: aliceblue;
          }
        }
      }
    }
  }
}

.systemBar {
  .buttons {
    a {
      &.sort {
        background: red;
      }
    }
  }
}

#message {
  margin-top:20px;
}

.hide {
  display: none;
}

.assign {
  h3 {
    font-size: 20px;
  }

  div {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: wrap;

    label{
      font-weight: normal;
      flex: 1 0 20%;

    }
  }

}
